* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #84cbea, #ace3ff);
    color: #2d2d2d;
    line-height: 1.6;
}

.page-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #444;
    transition: 0.3 ease;
}

nav a:hover {
    color: #c02424
}

.author {
    text-align: center;
    padding: 60px 20px;
}

.author h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.author p {
    opacity: 0.8;
}

.glass {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 10px 25px rgb(45, 21, 21)
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.about {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.about img {
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: #eb6161;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 0.9rem;
}

footer {
    text-align: center;
    margin: 50px 0 20px;
    opacity: 0.6;
}

#contact a {
    color: #5a0f0f;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(36, 7, 7, 0.1)
}